@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo</h1>
    <a asp-controller="Receitas" asp-action="Index">Ir para receitas</a>
</div>
